  #field, #field5 {
    width: 200px;
    background: white;
    display: block;
  }
  #FormButton{
    float: right;
    padding:5px 10px ;
    font-size: 22px;
    margin-bottom: 10px;
  }
  .button{
    padding:7px 35px ;
    font-size: 22px;
    float: right;
    width: 200px;
    border: none;
    border-radius: 5px;
    box-shadow: 10px 5px 5px grey;
    align-self: flex-end;
    margin-left: 10px;
  }

  .button1{
    padding:7px 35px ;
    font-size: 22px;
    margin-top: 10vh;
    width: 200px;
    border: none;
    border-radius: 5px;
    box-shadow: 10px 5px 5px grey;
    align-self: flex-end;
    margin-left: 10px;
  }

  .input_field{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    width: 300px;
    flex: 0 0 300px;
  }

  #input1, #input2{
    padding:5px 15px ;
    font-size: 22px;
    border-radius: 5px;
    box-shadow: 10px 5px 5px grey;
    margin-top: 10px;
    border: none;
  }

  .broad {
    width: 400px;
    flex: 0 0 400px;
  }
  br{clear: both;}

  .main{
    background:#b8d5e3;
    padding:2vmin 4vmin;
    width:70%;
    margin-left:auto;
    margin-right:auto;
    margin-top:5vh;
  }
  .short{
    display: inline-block;
    font-size: 18px;
    align-items: baseline;

  }

  .short1{
    font-size: 22px;
    width:100%;
    padding: 5px 0 5px 0;
    text-align: center;
  }

.short1:hover{
  background: #456987;
}

  .text{
    text-align: left;

  }
  .divFlex, .header{
    display: flex;
    justify-content: space-between;
    align-items:center;
  }

  .divFlex1{
    display: flex;
    justify-content: flex-end;
    align-items:center;
    padding:0 0 15px 10px ;


  }
  #nuberArea7 {
    padding: 15px;
    background: #b8d5e3;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    margin-left:auto;
    margin-right:auto;
    width:10%;
    margin-top:5vh;
  }
  .button_field {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .fraction,.fraction_out{
    font-size: 22px;
    border-radius: 5px;
    margin-right: 10px;
    width: 60px;
    border: none;
    box-shadow: 10px 5px 5px grey;
  }

  .fraction_out{
    width: 100px;
    padding:5px 15px ;
    background: white;
  }

  hr{
    /* width: 70px; */
    margin-left: -5px;
    background-color: black;
  }

  .modal{
    opacity: 1;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    position: absolute;
    top: 20%;
    left: 25vw;
    width: 50vw;
    height: 30vh;
    background: #4169E1;
    color: white;
    border-radius: 10px;
    box-shadow: 15px 10px 10px grey;
    z-index: 100;
  }

  .modal_text{
    font-size: 45px;
  }

  .modal_button{
    width: 50%;
    font-size: 22px;
    background: #B0C4DE;
    border-radius: 5px;
    padding:7px 35px ;
    border: none;
    color: #4169E1;
  }

  .hystmodal__opened {
    position: fixed;
    right: 0;
    left: 0;
    opacity: 0.5;
    filter: blur(8px);
    overflow: hidden;
}

  #outArea{
    padding: 10px;
    font-size: 20px;
    text-indent: 1.5em;
    text-align:justify;
  }

  #news_block1, #news_block2, #news_block3{
    border-bottom: 1px solid grey;
    padding:0 1em 1.5em 1em;
    margin-bottom: 10px;
    box-shadow: 10px 5px 5px grey;
    border-radius: 5px;
  }

  .main_block{
    text-align:justify;
    text-indent: 1.5em;
  }

  .pr_bar{
    width: 30vw;
    border:2px solid #4682B4;
    text-align: left;
    border-radius: 5px;
    box-shadow: 10px 5px 5px grey;
  }

  .progress{

    height: 50px;
    background:#4682B4;
    box-shadow: 5px 0px 5px grey;
  }

  .pr_button{
    margin-top: 30px;
    width: 30vw;
    font-size: 22px;
    padding: .5em 0;
    border-radius: 5px;
    box-shadow: 10px 5px 5px grey;
    border: none;
  }

  .football{
    position: relative;
    background: url("JS_DZ_Modul_3_Lesson_1/field.jpg") no-repeat;
    background-size: 100% 100% ;
    width: 85vw;
    height:45vw;
    border-radius: 5px;
    box-shadow: 10px 5px 5px grey;
    margin: 100px;

  }

  .ball{
    position: absolute;
    left: 47.6%;
    top: 45%;
    transition: all 1s;
  }



  .traffic_light_block{
    display: flex;
    justify-content: center;
    margin: 100px;
    padding: 50px;
    background:#b8d5e3;
  }

  .traffic_light{
    display: inline-flex;
    justify-content: space-around;
    border-radius: 20px;
    padding: 20px;
    flex: 0 0 30%;
    box-shadow: 10px 5px 5px grey;
    background:#ebf5fa;
  }

  .light{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: grey;
    transition: all .5s;
  }

  .button_next{
    box-shadow: 10px 5px 5px grey;
    border-radius: 20px;
    display: inline;
    flex: 0 0 10%;
    font-size: 2.5em;
    background:#ebf5fa;
    text-align: center;
    line-height: 5em;
    user-select: none;
    margin-left: 30px;
  }

  .onclick_list li{
    margin: 5px;
    font-size: 18;
    user-select: none;
  }

  span:hover {
    font-weight : 700;
  }

  .tooltip {
    position: fixed;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font: italic 12px sans-serif;
    color: white;
    background: rgb(223, 184, 227);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
  }

    .dotted{
      border-bottom: 2px dotted blue;
    }

    .selected{
      background: orange;
    }

    .edit_text{
      width: 100%;
      height:100px;
    }
