  #field, #field5 {
    width: 200px;
    background: white;
    display: block;
  }
  #FormButton{
    float: right;
    padding:5px 10px ;
    font-size: 22px;
    margin-bottom: 10px;
  }
  .button{
    padding:7px 35px ;
    font-size: 22px;
    float: right;
    width: 200px;
    border: none;
    border-radius: 5px;
    box-shadow: 10px 5px 5px grey;
    align-self: flex-end;
    margin-left: 10px;
  }

  .input_field{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    width: 300px;
    flex: 0 0 300px;
  }

  #input1, #input2{
    padding:5px 15px ;
    font-size: 22px;
    border-radius: 5px;
    box-shadow: 10px 5px 5px grey;
    margin-top: 10px;
    border: none;
  }

  .broad {
    width: 400px;
    flex: 0 0 400px;
  }
  br{clear: both;}

  .main{
    background:#b8d5e3;
    padding:2vmin 4vmin;
    width:70%;
    margin-left:auto;
    margin-right:auto;
    margin-top:5vh;
  }
  .short{
    display: inline-block;
    font-size: 18px;
    align-items: baseline;

  }
  .text{
    text-align: left;

  }
  .divFlex{
    display: flex;
    justify-content: space-between;
    align-items:center;
  }

  .divFlex1{
    display: flex;
    justify-content: flex-end;
    align-items:center;
    padding:0 0 15px 10px ;


  }
  #nuberArea7 {
    padding: 15px;
    background: #b8d5e3;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    margin-left:auto;
    margin-right:auto;
    width:10%;
    margin-top:5vh;
  }
  .button_field {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .fraction,.fraction_out{
    font-size: 22px;
    border-radius: 5px;
    margin-right: 10px;
    width: 60px;
    border: none;
    box-shadow: 10px 5px 5px grey;
  }

  .fraction_out{
    width: 100px;
    padding:5px 15px ;
    background: white;
  }

  hr{
    width: 70px;
    margin-left: -5px;
    background-color: black;
  }
